{
    "app_id": "cli_a**************3",
    "app_secret": "D******************************Q",
    "encryption_key": "I******************************q",
    "verification_token": "T******************************J"
}